---
// Component Imports
import DocumentHead from '../layouts/DocumentHead.astro';
import Layout from '../layouts/Layout.astro';
import HomeNotes from '../layouts/HomeNotes.astro';

let title = `Home | Sanket Maske's digital garden`;
let description = `Hi 👋🏼 I'm Sanket. A developer building software for CodePen, wife, mother of two,
  productivity nerd and recovering screen addict. This is my digital garden.`;
let permalink = 'https://sanketmaske.dev';

let page = 'posts';
---




<html lang="en">
  <DocumentHead title={title} description={description} permalink={permalink} />
  <body>
    <Layout page={page}>
      <HomeNotes />
    </Layout>
  </body>
</html>