---
// Component Imports
import DocumentHead from '../layouts/DocumentHead.astro';
import Layout from '../layouts/Layout.astro';
import AboutPage from '../layouts/AboutPage.astro';

let title = `About | Sanket Maske's digital garden`;
let permalink = 'https://rachsmith.com';

let page = 'tags';
---

<html lang="en">
  <DocumentHead title={title} permalink={permalink} />
  <body>
    <Layout page={page}>
    
    </Layout>
  </body>
</html>
