<style>
  img {
    float: right;
    margin-left: 1.2rem;
    margin-bottom: 1.2rem;
  }
</style>

<content>
  <img
    src="/assets/images/Me.jpg"
    alt="Man in a helmet and life vest holding a large red object, smiling for the camera."
    width="350"
  />
  <div>
    <p>
        Hi, I’m Sanket Maske.
    </p>
    <p>
        I’m a developer. I solve problems for a living and create new ones accidentally.
        I work with systems, logic, and backend architecture.
        Real life, however, refuses to compile.
    </p>

    <p>
      I’m naturally sarcastic.It keeps life interesting.
      Though the humor quality is not guaranteed.
    </p>

    <p>
        This blog exists because:
        <ul>
        <li>I think too much.</li>
        <li>I have too many interests.</li>
        <li>Writing is cheaper than therapy.</li>
        </ul>
    </p>
    <p>
        You won’t find a niche here.
    </p>

    <p>
        Some posts will be about code — things I built, broke, optimized, and dramatically debugged.
        <p>Some will be photography — nature, abstract landscapes, light, textures, quiet details most people scroll past.
<p>Some will be films and music —  things I watched or listened to and couldn’t stop thinking about.</p>
<p>And some will just be life — random thoughts, lessons, and moments that felt worth writing down.
</p>    
</p>

    <p>
        No schedule.
No content strategy.
Just thoughts that needed a home.
</p>
<p>
    If something here makes you pause, question, or roll your eyes slightly —
good. That means the garden is doing its job.
</p>
<h4>Welcome...</h4>
  </div>
  
</content>
