<!-- import { getCollection } from 'astro:content'; -->
<!-- import type { CollectionEntry } from 'astro:content';
import { getNoteHref, makeNoteFromNugget, monthNames } from '../data/postConfig'; -->



<a href="../pages/blog/hello-world"> Note 1 </a>